<div id="topbar">
  <li id="nametopbar">PBL-Attendance</li>
  <ul id="topmenu">
    <a href="#contact"><li>Routes</li></a>
    <a href="#intro"><li>About</li></a>
  </ul>
</div>
<div id="content">
  <div id="intro">
    <h2>Face Recognition Attendance System</h2><h1>(Backend)</h1>
    <br><br>
    <p>Face Recognition Attendance System is a project build for the sole purpose of optimizing the attendance system of schools/colleges.</p>
    <p>PBL-Attendance is the backend of the project. It uses Face-api.js for processing the image.  The project aims to irradicate the process of roll-call based attendance. The project has multiple front-ends</p>
    <ul>
      <li>Implemented on Android using flutter. <a href="https://github.com/surya8barca/pbl_project_app">Click Here</a></li>
      <li>Implemented on Whatsapp using Twilio. <a href="https://github.com/carol80/face_api_attendance_system">Click Here</a></li>
      <li>Implemented as a web_app using Node.js. <a href="https://github.com/carol80/face-api-ts">Click Here</a></li>
    </ul>
  </div>
  <div id="portfolio">
    <br>
    <a href="https://codepen.io/scatterbrain29/pen/VWrRyN" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEbuxT9lRKQdzZoGZnj9DEOx51tfv-fnVKYgz8g8oW5Tu4w4kk&usqp=CAU"></a>
    <a href="https://codepen.io/scatterbrain29/pen/vZRmyX" target="_blank"><img src="https://www.hitechnectar.com/wp-content/uploads/2019/12/How-Deep-Learning-Works-in-Face-Recognition-1.jpg"></a>
  </div>
  <br><br><hr><br><br>
  <div id="contact">
    <h2>Api-Routes</h2>
    <br><br>
    <ul>
      <li><h1><a href="#">/registration</a></h1> - for registering the face landmarks with the system.</li>
      <li><h1><a href="#">/processing_single</a></h1> - for recognizing the individual person from a picture.</li>
      <li><h1><a href="#">/processing_group</a></h1> - for recognizing all the individuals from the group picture.</li>
    </ul>
    
  </div>
  <br><br><hr><br><br>
</div>

<style>
  body {
  font-family: "Lato", Arial;
  font-size: 20px;
  background-color: #000000;
  color: #AAAAAA;
  text-align: center;
}

h2 {
  color: #AAAAAA;
  font-family: "Droid Sans", Arial;
  font-size: 52px;
  transition: all .3s ease-in-out;
}

#nametopbar {
  list-style-type: none;
  color: #AAAAAA;
  padding: 10px;
  padding-left: 20px;
  float: left;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#topbar {
  font-family: "Droid Sans", Arial;
  background-color: #141414;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#topbar:hover #nametopbar {
    color: #FFFFFF;
}

#topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topmenu li {
  color: #AAAAAA;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  display: inline-block;
  float: right;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#topmenu li:hover {
  color: #FFFFFF;
}

#content {
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 120px;
}

#intro:hover h2, #portfolio:hover h2, #contact:hover h2 {
  color: #FFFFFF;
}

#intro {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#mephoto {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#portfolio img {
  border: 3px solid #9B9B9B;
  width: 300px;
  margin: 20px;
  transition: all .3s ease-in-out;
}

#portfolio img:hover {
  transform: scale(1.1);
  border: 3px solid #FFFFFF;
}

input, textarea {
  background-color: #252525;
  border: 2px solid #AAAAAA;
  width: 400px;
  margin: 10px;
  transition: all .3s ease-in-out;
}

input:hover, textarea:hover {
  background-color: #474747;
  color: #FFFFFF;
}
</style>