<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Data</title>
</head>
<body>
    <header>
        <div id="headings">
            <center>
                <h1>Getting Subjects</h1>
            </center>
        </div>
    </header>
    <div id='form'>
        <form method="GET" action="/subjects" enctype="multipart/form-data">
<fieldset>
            <p>
             <label>Semester</label>
             <select name = "Semester">
               <option value = "1">1</option>
               <option value = "2">2</option>
               <option value = "3">3</option>
               <option value = "4">4</option>
               <option value = "5">5</option>
               <option value = "6">6</option>
               <option value = "7">7</option>
               <option value = "8">8</option>
             </select>
		<br><br>
             <label>Stream</label>
             <select name = "Branch">
               <option value = "Computer">Computers</option>
               <option value = "Info. Tech">Information Technology</option>
               <option value = "Production">Production</option>
               <option value = "Mechanical">Mechanical</option>             
               <option value = "Electronics">Electronics</option>
               <option value = "Electronics & Computer Science">Electronics & Computer Science</option>
           </select>
           
            
            
            <br><br>     
                       
            <input type="submit" name="" value="Submit">
</fieldset>
        </form>
    </div>
</body>

</html>